extensions:
	leanModel: LeanModel\LeanModelExtension

leanModel:
	defaultEntityNamespace: Todolist
	mapper: LeanModel\Mapper
	entityFactory: LeanModel\EntityFactory
	filters:
		- Todolist\TaskFilters

services:
	# zabezpečení
	authenticator: Todolist\Authenticator
	authorizatorFactory: Todolist\AuthorizatorFactory
	authorizator: @authorizatorFactory::create

	# repozitáře a servisy
	- Todolist\UserRepository
	- Todolist\TaskRepository
	- Todolist\ProjectRepository
	- Todolist\ThingRepository

	# formuláře
	- Todolist\LoginFormFactory

	- Todolist\ProjectFormFactory
	- Todolist\TaskFormFactory
	- Todolist\ThingFormFactory