extensions:
	leanModel: LeanModel\LeanModelExtension

leanModel:
	defaultEntityNamespace: Todolist
	mapper: LeanModel\Mapper
	entityFactory: LeanModel\EntityFactory

services:
	# zabezpečení
	- Todolist\Authenticator
	- Todolist\LoginFormFactory

	# repozitáře a servisy
	- Todolist\UserRepository
	- Todolist\TaskRepository
	- Todolist\ProjectRepository
	- Todolist\ThingRepository

	# formuláře
	- Todolist\ProjectFormFactory
	- Todolist\TaskFormFactory
	- Todolist\ThingFormFactory