extensions:
	leanMapper: LeanMapperExtension
	ajaxHistory: VojtechDobes\NetteAjax\HistoryExtension

php:
	date.timezone: Europe/Prague

nette:
	application:
		errorPresenter: Error
		mapping:
			*: Todolist\*Module\*Presenter

	session:
		expiration: 14 days

includes:
	- ../router/config.router.neon
	- ../model/config.model.neon
	- ../presenters/config.presenters.neon
	- ../components/config.components.neon