services:
	- LeanMapper\Connection(%database%)
	- LeanMapper\DefaultEntityFactory
	- Todolist\Mapper
	- Todolist\Authenticator
	- Todolist\UserRepository
	- Todolist\TaskRepository
	- Todolist\ProjectRepository
	- Todolist\ThingRepository