{layout ../@baseLayout.latte}

{block container}

<div class="row clearfix">
	<div class="col-md-12 column">
		<div class="page-header center">
			<h1>Úkolníček</h1>
			<span class="motto">Při běhu aplikace došlo k chybě. Za vzniklé problémy se omlouváme.</span>
		</div>
	</div>
</div>
<div class="row clearfix">
	<div class="col-md-12 column well well-lg">
		{include content}
	</div>
</div>
		
{/block}
