{**
 * @param Catalog $catalog
 *}

<ul n:snippet="taskList">
	<li n:foreach="$catalog->tasks as $task">
		<span n:class="$task->done ? 'done'">{$task->text}</span> | 
		{if $task->done}
			<a n:href="setDone!, $task->id, 'no'" class="ajax" data-ajax-off="history">Nesplněno!</a>
		{else}
			<a n:href="setDone!, $task->id, 'yes'" class="ajax" data-ajax-off="history">Splněno!</a>
		{/if}
	</li>
</ul>