{**
 * @param Catalog $catalog
 *}

<ul>
	<li n:foreach="$catalog->tasks as $task">
		<span n:class="$task->done ? 'done'">{$task->text}</span> | 
		{if $task->done}
			<a n:href="setDone!, $task->id, 'no'">Nesplněno!</a>
		{else}
			<a n:href="setDone!, $task->id, 'yes'">Splněno!</a>
		{/if}
	</li>
</ul>